:root{
    --primary:#7C5CFF;
    --secondary:#A78BFA;
    --bg1:#F6F3FF;
    --bg2:#EDE9FE;
    --white:#ffffff;
    --text:#2D2A32;
    --lightText:#6B7280;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI',sans-serif;
}

body{
background:linear-gradient(135deg,#F6F3FF,#EDE9FE);
color:var(--text);
min-height:100vh;
}

.container{
width:90%;
margin:auto;
padding:30px;
}

.card{
background:white;
border-radius:15px;
padding:20px;
margin-top:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

button{
background:var(--primary);
border:none;
color:white;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#6945ff;
}

input,textarea,select{
padding:10px;
border-radius:8px;
border:1px solid #ddd;
width:100%;
margin-top:10px;
}

